@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Twinkle+Star&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/bg2.jpg);
    background-size: cover;
    background-position:center; 
    background-attachment: fixed;
    padding: 50px;
}

.container{
    position: relative;
    width: 1200px;
    min-height: 650px;
    background: rgba(255, 255, 255, 0.383);
    box-shadow: 0 15px 35px rgba(255,255,255,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
   
}

header{
    position: absolute;
    top:-40px;
    right:20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
   
   
}

header .logo{
    color: royalblue;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    transition: 0.2s;
    font-family:cursive;
    font-style: italic;
}

header .logo:hover{
    transform: scale(1.25);
    
}

header ul{
    display: flex;
}


header ul li{
    list-style: none;
    margin: 0 10px;
    font-size: 24px;
    transition: 0.2s;
    border-radius: 15px;
}
header ul li:hover{
   transform: scale(1.09);
   box-shadow:0 10px 20px rgba(157, 234, 255, 0.932);
}


header ul li a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
   
}


.content{
    display: flex;
    flex-direction: column;
    position:absolute;  
    margin-left: -100px;  
    max-width: 650px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    padding: 40px;
    padding-left: 85px;
    padding-bottom: 50px;
    box-shadow:0 5px 8px rgba(161, 161, 161, 0.932);
    transition: 0.3s;

}

.content:hover{
    transition: 0.3s;
    transform: scale(1.01);
    box-shadow:0 5px 8px rgba(170, 240, 248, 0.932);

}

.content h2{
    font-size: 3em;
    color:#97545f;
}


.content p{
    margin-top: 15px;
    font-size: 1.2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8a2435;
    font-weight: 500;
}

.reachme_icon_wrapper{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 135px;
    text-align: center;
    border-radius: 35px;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.383);
    box-shadow:0 5px 8px rgba(161, 161, 161, 0.932);
    transition: 0.3s;

    

  
}
.reachme_icon_wrapper:hover{
    transform: scale(1.05);



}

.reachme_icon{
  text-decoration: none;
  color: #862838;
  font-weight: 600;
}

.image_box{
    height: 250px;
    width: 250px;
    position: absolute;
    right: 230px;
    bottom:320px;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100%{

        transform: translateY(-10px);
    }

    50%{
        transform: translateY(10px);

    }
}

.image_box img{
    height: 500px;
    width: 450px;
   
}