*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/bg2.jpg);
    background-size: cover;
    background-position:center; 
    background-attachment: fixed;
    padding: 50px;
}

.container{
    position: relative;
    width: 1200px;
    min-height: 650px;
    background: rgba(27, 25, 25, 0.1);
    box-shadow: 0 15px 35px rgba(255,255,255,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   
}

header{
    position: absolute;
    top:-40px;
    right:20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
   
   
}

header .logo{
    color: royalblue;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    transition: 0.2s;
}

header .logo:hover{
    transform: scale(1.25);
    
}

header ul{
    display: flex;
}


header ul li{
    list-style: none;
    margin: 0 10px;
    font-size: 24px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;
}

